<h1>ToDo list</h1>

  <ul class="uncompleted-tasks">
    <% @tasks[:not_completed].each do |task| %>
      <li>
        <span><%= task.title %></span>
        <span><%= link_to 'Complete', complete_path(task)  %></span>
        <span><%= link_to 'Destroy', task, method: :delete %></span>
      </li>
    <% end %>
  </ul>
  <div class="no-style">
    <%= render 'form_new' %>
  </div>
<h2>Completed</h2>
  <ul>
    <% @tasks[:completed].each do |task| %>
        <li>
          <span><s><%= task.title %></s></span>
          <span><%= link_to 'Destroy', task, method: :delete %></span>
        </li>
    <% end %>
  </ul>

<br>
